#!/usr/sbin/nft -f

# drop any existing nftables ruleset
flush ruleset

{% if nft_localnet is defined %}
define localnet = {{ nft_localnet }} 
{% endif %}

{% if nft_enable_gateway %}
table ip nat {
  chain prerouting {
    type nat hook prerouting priority 0; policy accept;
  }

  chain postrouting {
     type nat hook postrouting priority 100; policy accept;
     oifname "{{ nft_ext_if }}" snat to {{ nft_ip_pub }}
  }
}
{% endif %}

table inet filter {

  chain input {
    # By default, {{ nft_inbound_policy }} all traffic unless it meets a filter
    # criteria specified by the rules that follow below.
    type filter hook input priority 0; policy {{ nft_inbound_policy }};
    #Allow traffic from established and related packets
    ct state vmap { established : accept, related : accept, invalid : drop }
    # Accept loopback
    iifname lo accept
    #Allow ICMP echo
    icmp type echo-request limit rate 5/second accept
    # Allow ICMPv6 to work
    icmpv6 type { nd-neighbor-solicit, nd-router-advert, nd-neighbor-advert } accept
    icmpv6 type echo-request limit rate 5/second accept
{% for iif in nft_interfaces %}
{% if iif.tcp_in is defined and iif.tcp_in|length %}
    iifname {{ iif.iif }} tcp dport { {{ iif.tcp_in|join(', ') }} }  ct state new accept
{% endif %}

{% if iif.udp_in is defined and iif.udp_in|length %}
    iifname {{ iif.iif }} udp dport { {{ iif.udp_in|join(', ') }} } accept
{% endif %}
{% endfor %}
    log prefix "[nftables] Inbound Denied: " counter drop
  }

  chain forward {
    # Disable forwarding traffic by default
    type filter hook forward priority 0; policy {{ nft_forward_policy }};
{% if nft_enable_gateway %}
    #Allow traffic from established and related packets
    ct state vmap { established : accept, related : accept, invalid : drop }
{% for network in nft_networks %}
{% if network.tcp_out is defined and network.tcp_out|length %}
  iifname {{ network.iif }} ip saddr {{ network.addresses }} tcp dport { {{ network.tcp_out|join(', ') }} } ct state new accept
{% endif %}
{% if network.udp_out is defined and network.udp_out|length %}
  iifname {{ network.iif }} ip saddr {{ network.addresses }} udp dport { {{ network.udp_out|join(', ') }} } accept
{% endif %}
{% endfor %}

    log prefix "[nftables] NAT denied: " counter drop
{% endif %}
  }

  chain output {
    type filter hook output priority filter; policy {{ nft_outbound_policy }};
    #Allow traffic from established and related packets
    ct state vmap { established : accept, related : accept, invalid : drop }
    # Accept loopback
    oifname lo accept

{% for oif in nft_interfaces %}
{% if oif.tcp_out is defined and oif.tcp_out|length %}
     oifname {{ oif.iif }} tcp dport { {{ oif.tcp_out|join(', ') }} } ct state new accept
{% endif %}
{% if oif.udp_out is defined and oif.udp_out|length %}
     oifname {{ oif.iif }} udp dport { {{ oif.udp_out|join(', ') }} } accept
{% endif %}
{% endfor %}
     log prefix "[nftables] Outbound Denied: " counter drop
  }
}
